/* Main settings */
html, body {
    /* Margins */
    margin: 0;
    padding: 0;

    /* Background */
    background-color: #000;

    /* Font */
    color: #ddd;
    font-family: "Helvetica";
}

/* Do some cleaning */
div, p {
    /* Margins */
    margin: 0;
    padding: 0;
}

/* Date & time */
div#dateAndTime {
    /* Margins */
    margin: 50px 100px;
}

div#dateAndTime p#time {
    /* Font */
    font-size: 5em;
    /* font-weight: bold; */
}

div#dateAndTime p#date {
    /* Margins */
    margin: -20px 0 0 2em;

    /* Font */
    font-size: 1em;
}
