/*
 * Copyright 2015 a2ohm
 * Release under the MIT license
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
 * THE SOFTWARE.
*/

/* Main settings */
html, body {
    /* Size */
    height: 100%;

    /* Margins */
    margin: 0;
    padding: 0;

    /* Background */
    background-color: #000;

    /* Font */
    color: #ddd;
    font-family: "Helvetica";
}

/* Do some cleaning */
div, p {
    /* Margins */
    margin: 0;
    padding: 0;
}

/* Date & time */
div#dateAndTime {
    /* Position */
    position: absolute;
    top: 50px;
    left: 100px;
}

div#dateAndTime p#time {
    /* Font */
    font-size: 5em;
}

div#dateAndTime p#date {
    /* Margins */
    margin: -20px 0 0 1em;

    /* Font */
    font-size: 1.2em;
}

/* Weather */
div#weather {
    /* Position */
    position: absolute;
    top: 50px;
    right: 100px;

    /* Text */
    font-size: 4em;
}

/* Rôles */
div#roles {
    /* Position */
    position: absolute;
    top: 180px;
    left: 150px;

    /* Font */
    font-size: 1.2em;
}

div#roles dl {
    /* Margin */
    margin: 0;
}

div#roles dt {
    /* Position */
    display: block;
    float: left;
    clear: left;

    /* Size */
    width: 80px;

    /* Text */
    text-align: right;
    color: #555;
}

div#roles dd {
    /* Position */
    display: block;
    float: left;

    /* Size */
    width: 250px;

    /* Margin */
    margin: 0;
    padding: 0 0 0 10px;
}

/* Twitter feed */
div#twitterFeed {
    /* Position */
    display: block;
    position: absolute;
    top: 300px;
    left: 100px;

    /* Size */
    width: 400px;

}


/* Footer */
footer {
    /* Position */
    position: absolute;
    bottom: 50px;

    /* Size */
    width: 100%;

    /* Text */
    text-align: center;
    font-size: 1.6em;
}

footer>p {
    /* Size */
    width: 50%;

    /* Position */
    padding-top: 30px;

    /* Margin */
    margin: 0 auto;

    /* Border */
    border-top: groove 2px #ddd
}
